*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.html{
  width: auto;
}

body{
  width: 100vw;
  height: 100vh;
}

.nav-container{
  width: 200px;
  height: 100vh;
  padding: 10px;
  padding-bottom: 96px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);
  position: fixed;
  transition: all .5s ease;
  z-index: 100;
}

.move_left{
  transform: translateX(-155px);
}

.rotate{
  transform: rotate(900deg)
}

.nav-container-span{
  width: 25px;
  height: 25px;
  position: absolute;
  align-self: flex-end;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: -8x;
  cursor: pointer;
  transition: all .5s ease;
}

.nav-top{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px;
}

.profile_pic_container{
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.profile_pic_container img {
  width: 55%;
  height: 55%;
  border-radius: 50%;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);
  object-fit: cover;
}

.nav-bottom{
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}

.container{
  width: calc(100vw - 200px);
  height: 100vh;
  background: white;
  position: absolute;
  margin: 0;
  margin-left: 200px;
  overflow-x: hidden;
  padding: 24px 10%;
  transition: all .5s ease;
}

.nav-closed-container{
  width: calc(100vw - 53px);
  margin-left: 53px;
  padding: 24px 10%;
}

.container h1{
  position: relative;
  width: calc(100%);
  height: 50px;
  line-height: 50px;
  background: white;
  margin-bottom: 10px;
}

.dash-top{
  height: 20%;
  width: 100%;
  display: flex;
  padding: 8px 0;
  border-radius: 16px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);
}

.welcome-container{
  width: 100%;
  height: 100%;
  margin-right: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px;
}


.recommendations{
  width: 80%;
  height: 80%;
  margin-left: 8px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.rec-span{
  display: inline-block;
  width: auto;
}

.dash-middle{
  width: 100%;
  height: auto;
  margin: 16px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.select-day-nutrition{
  width: 100%;
  height: 100px;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);

}

.graph-key{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-key{
  width: 15px;
  height: 15px;
  background: green;
  margin-right: 8px
}

.orange-key{
  width: 15px;
  height: 15px;
  background: orange;
  margin: 0 8px 0 32px;
}

.today-stats{
  display: flex;
  width: 100%;
  height: auto;
  margin: 16px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat-container{
  width: 225px;
  height: 100px;
  margin: 16px 4px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);
  overflow: hidden;
}

.bar{
  width: 100%;
  height: 40%;
  padding: 4px;
}

.bar p{
  transition: all .125s ease;
  line-height: 100%;
  text-align: center;
  border-left: 4px solid black;
}

.consumed{
  height: 100%;
  background: orange;
  transition: all .125s ease;
}

.recommended {
  height: 100%;
  width: 100%;
  background: green;
  color: white;
  animation: grow .5s;
}

.p-span{
  position: sticky;
  display: block;
  width: 181px;
  text-align: center;
}

.dash-bottom{
  min-height: 80%;
  min-width: 100%;
  width: auto;
  overflow-x: auto;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);
  background: rgba(255, 166, 0, 0.25);
}

.table-header{
  width: auto;
  height: 100%;
  display: flex;
}

.table{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-row{
  width: auto;
  height: auto;
  display: flex;
  transition: all .25s ease;
}

.table-row:nth-of-type(2n+1) .column{
  background-color: rgba(255, 166, 0, 0.375);
}

.table-row:hover .column{
  background-color: rgb(255, 243, 220);
}

.column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0 8px;
  width: 100px;
  min-height: 40px;
  border-right: 1px solid white;
  border-bottom: 4px solid white;
  background: black;
  color: white;
  text-align: center;
  transition: all .1s ease;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100px;
  height: 40px;
  padding: 0 8px;
  border-right: 1px solid white;
  border-bottom: 4px solid white;
  background: black;
  color: white;
}

.date p {
  font-size: 12px;
}

.v {
  border-bottom: 4px solid orange
}

.m {
  border-bottom: 4px solid green;
}

.p {
  border: none;
  border-bottom: 4px solid white;
}

.s{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.s button{
  width: 30px;
}

.th{
  color: black;
  background: transparent;
  border-right: 1px solid black;
  border-bottom: 4px solid transparent;
}

.you-ate{
  color: black;
  background: transparent;
  border-right: 1px solid black;
  border-bottom: 4px solid transparent;
  width: 150px;
}

.you-ate-column{
  width: 150px;
}

.column p {
  font-size: 12px;
}

.prof-top{
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  overflow: visible;
}

.prof-image{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 200px;
  transition: all .5s ease;
}

.prof-image img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);
  object-fit: cover;
}

.prof-image:hover #profile-upload{
  opacity: 1;
  background: rgba(255, 255, 255, 0.5)
}


#profile-upload{
  opacity: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  font-size: 14px;
  line-height: 200px;
  text-align: center;
  padding: 6px 12px;
  cursor: pointer;
  transition: all .25s ease;
}

input[type="file"] {
  display: none;
}

.prof-bottom{
  height: 50%;
  width: 100%;
  display: flex;
  padding: 16px 0;
  margin-top: -32px;
}

.profile-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.profile-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
}

.profile-row button{
  margin: 0 8px 0 0;
}

.profile-row h4{
  width: 120px;
  text-align: left;
}
.profile-row select{
  width: 50%;
  text-align: left;
  margin: 0;
}

.profile-submit{
  margin-right: 20%;
  opacity: 1;
  visibility: visible;
  transition: all .25s ease;
  background: green;
}

.profile-submit:hover{
  background: green;
}


.history-table{
  height: 90%;
  width: 100%;
  margin-top: 16px;
  overflow-x: scroll;
  background: rgba(200, 200, 200, 0.75);
}

.history-loading{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 0px black;
  animation: loading 2s infinite;
}

.entry-section{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  margin-bottom: 8px;
}

.m-right{
  margin-right: 10%;
}

.m-left{
  margin-left: 10%;
  align-items: flex-start;
}

.entry-wrapper{
  width: 240%;
  height: 80%;
  display: flex;
  padding: 0;
  transition: all 1s ease;
}

.slide-left{
  transform: translateX(-60%)
}

.date-input input{
  margin-right: 16px;
  margin-top: 0;
  width: 200px;
  height: 30px;
  text-align: center
}

.date-input p{
  margin-right: 8px;
}

.date-input{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-top{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-meal {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#stupid-input{
  align-self: flex-end;
  width: 250px;
  margin-right: 16px;
}

.search-top input{
  width: 30%;
  height: 35px;
  padding: 0 12px;
  border: none;
  text-align: left;
  border-bottom: 2px solid orange;
  outline: none;
}

#water-intake{
  width: 50px;
}


.search-table{
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}

.top{
  height: calc(100% - 50px);
}

.search-header{
  height: 30px;
  width: calc(100% - 8px);
  display: flex;
}

.search-container{
  width: 100%;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-results{
  height: calc(100% - 50px);
  max-height: calc(100% - 50px);
  width: 100%;
  box-shadow: inset 0 0 4px 4px rgba(65, 65, 65, 0.5);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 0 0 8px 8px;
  transition: all 1s ease;
}

.food-details{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20%;
  background: rgba(255, 255, 255, 0.8);
  animation: fade-in .25s;
  opacity: 1;
}

.food-details-container{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
}


#next-container{
  width: auto;
  height: auto;
}

.search-results .div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 12px;
  color: grey;
  height: calc(100% - 50px);
}

.search-result{
  min-height: 30px;
  height: auto;
  width: calc(100%);
  display: flex;
}

.search-result:nth-child(2n+1){
  background: rgba(168, 168, 168, 0.5);
}

.search-column{
  width: 30%;
  min-height: 30px;
  border-right: 1px solid black;
  color: black;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-column input {
  width: 20%;
  height: 24px;
  margin: 4px;
}

.search-column p {
  background: green;
  color: white;
  width: 20%;
  height: 24px;
  line-height: 24px;
  margin: 4px;
  letter-spacing: 3px;
  font-weight: bolder;
}

.search-column button {
  color: white;
  width: 20%;
  height: 24px;
  margin: 4px;
}

.search-column button:hover {
  background: rgba(255, 166, 0, 0.75);
}

.f {
  width: 10%;
}

.h{
  background: black;
  color: white;
  border-bottom: 4px solid orange;
}

.g{
  border-bottom: 4px solid green;
}

.r {
  width: 25%;
  border-bottom: 4px solid orange;
}

.auth-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box{
  width: 40vw;
  min-width: 400px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 16px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);
  overflow: hidden;
  animation: fade-in 1s;
}


.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 15%
}
.logo .svg {
  margin: 12px 24px 24px 24px;
}

.loading{
  animation: loading 2s infinite;
}

.water-container{
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

.water-container p{
  font-size: 14px;
  margin-right: 4px;
}

.chart-js{
  width: 100%;
  height: auto;
  margin: 8px 0;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);
}

#graph-button{
  width: auto;
}

@media screen and (max-width: 940px){
  .chart-toggle{
    display: none;
  }

  .graphButton{
    display: none;
  }
}

@media (max-width: 425px){
  .app{
    display: column;
    flex-direction: column;
  }
  .logo{
    flex-direction: column
  }
  .logo .svg {
    margin: 12px 24px 24px 48px;
  }
  .title{
    width: 100%;
    font-size: 40px;
    padding: 0;
  }
  .nav-container{
    width: 100vw;
    height: 70vh;
    padding: 10px 10px 50px 10px;
    display: flex;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
                -2px -2px 12px rgba(185, 185, 185, 0.5),
                inset 2px 2px 4px rgba(141, 141, 141, 0.1),
                2px 2px 8px rgba(0, 0, 0, .15);
    position: fixed;
    top: 0;
    transition: all .5s ease;
    z-index: 100;
  }

  .nav-top{
    padding: 8px;
    width: 50%;
    height: auto;
    flex-direction: column;
  }

  .profile_pic_container{
    padding: 0;
    margin: 4px;
    width: 150px;
    height: 150px;
  }

  .nav-container-span{
    margin-top: 40px;
    transform: rotate(90deg);
  }

  .rotate{
    transform: rotate(990deg)
  }

  .nav-bottom{
    height: auto;
  }

  a{
    margin: 0;
  }

  .container{
    width: 100vw;
    min-height: 100%;
    background: white;
    margin: 0;
    margin-top: 50px;
    padding: 8px 0;
    transition: all .5s ease;
  }

  .entry-wrapper{
    margin: 0 2%;
  }

  .search-top{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .f {
    width: 10%;
    display: none;
  }

  .search-column{
    width: calc(33%);
    height: auto;
  }

  .h{
    width: calc(33% - 2.6px);
  }

  .date-input input{
    width: 50%;
  }

  .search-top input{
    width: 100%;
    margin-bottom: 4px;
  }

  .search-top button{
    width: auto;
    padding: 0 12px;
    margin-bottom: 4px;
  }

  .water-container{
    display: flex;
    width: 70%;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
  }

  .add-meal{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #stupid-input{
    width: 100%;
    margin: 0 0 4px 0;
  }

  .prof-top{
    padding: 0 12px;
  }

  .prof-bottom{
    padding: 24px 12px;
  }

  .profile-row{
    padding: 8px 4px;
    height: auto;
  }

  .profile-row button{
    margin-right: 4px;
  }

  .add-meal button{
    width: auto;
  }

  .search-container{
    padding: 0;
  }

  .entry-section{
    width: 100%;
  }

  .search-table{
    width: 100%;
    margin-left: 0;
  }

  .stat-container{
    width: 100%
  }

  .p-span{
    width: 305px;
  }

  .move_left{
    transform: translateY(-65vh);
  }

  .login-box{
    width: 100vw;
    height: 100vh;
  }
}

.title{
  font-size: 40px;
  padding-left: 0;
}

.login-inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}

.login-inputs p{
  margin-top: 5px;
}

.login-inputs button{
  margin-top: 20px;
}

.login-inputs input {
  width: 50%;
  height: 30px;
  margin: 8px 0 0 0;
  padding: 0 8px;
  border: none;
  border-bottom: 2px solid green;
  outline: none;
}

.login-inputs select {
  margin: 8px 0 0 0;
}

.name-input {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.name-input input {
  width: 49%;
  height: 30px;
  margin: 8px 0;
  padding: 0 8px;
  border: none;
  border-bottom: 2px solid green;
  outline: none;
}

.login-inputs select {
  width: 50%;
  height: 30px;
  border: none;
  border-bottom: 2px solid green;
}

.message{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.message p{
  margin: 0;
  padding: 0;
}

.error-container{
  height: auto;
  width: 50%;
}

.error{
  transition: all .5s ease;
  color: red;
  font-size: 14px;
  text-align: center;
  opacity: 1;
}

.error p{
  margin-top: 0;
  padding: 0;
}

.hidden{
  opacity: 0;
  visibility: hidden;
}

.none{
  display: none;
  margin: 0;
}

.register-button {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.opacity20{
  opacity: .2
}

.register-button a{
  text-decoration: none;
  margin-bottom: 8px;
  background: white;
  border-radius: 16px;
  transition: .125s all ease;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  box-shadow: none;
}

.register-big{
  width: calc(100% + 100%);
  display: flex;
  opacity: 1;
  justify-content: flex-start;
  margin-top: -15%;
  transition: all .5s ease;
  transform: translateX(25%);
  animation: fade-in 1s;
}

.right{
  transform: translateX(-25%);
}

.fa-arrow-right{
  animation: point 1.5s infinite;
  transform: translateX(-10px);
}

.chart-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 10%;
  border-radius: 16px;
  height: 1400px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);;
}

.chart-toggle{
  width: 100%;
  height: auto;
}

.chart{
  display: flex;
  width: auto;
  position: absolute;
  height: 1350px;
}

svg rect:nth-of-type(2n + 0){
  fill: green
}

a, #logout-button{
  text-decoration: none;
  margin-bottom: 8px;
  background: white;
  border-radius: 16px;
  color: green;
  transition: .125s all ease;
  padding: 4px 8px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(185, 185, 185, 0.5),
              inset 2px 2px 4px rgba(141, 141, 141, 0.1),
              2px 2px 8px rgba(0, 0, 0, .15);
}

a:nth-of-type(2n + 1){
  color: orange;
}

a:visited, #logout-button{
  color: green;
}

a:nth-of-type(2n + 1):visited{
  color: orange;
}

a:active, #logout-button:active{
  transform: scale(.98);
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
              inset -2px -2px 12px rgba(255, 255, 255, .5),
              inset 2px 2px 4px rgba(255, 255, 255, .1),
              inset 2px 2px 8px rgba(0, 0, 0, .15);
}

button {
  width: 100px;
  height: 25px;
  border: none;
  padding: 0 4px;
  border-radius: 6px;
  background: orange;
  outline: none;
  cursor: pointer;
  transition: .25s all ease;
}

button:hover {
  background: rgba(255, 166, 0, 0.75);
}

p button{
  width: 50px;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: 5px;
}

ul{
  list-style-position: inside;
  list-style-type: none;
}

select{
  margin: 8px 0;
}

th{
  text-align: left;
}

svg{
  transition: 1s all ease;
}

rect{
  transition: 1s all ease;
}

#carrot_1{
  color: orange;
}

#carrot_2{
  color: green;
}

::-webkit-scrollbar {
  width: 8px;
  transition: 1s all ease;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 8px;;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes point {
  50%{transform: translateX(10px)}
}

@keyframes fade-in {
  0%{opacity: 0;}
  80%{opacity: 0;}
  100%{opacity: 1}
}

@keyframes grow {
  0%{width: 0}
  100%{width: 100%;}
}

@keyframes loading {
  0%{transform: translateY(0)}
  10%{transform: translateY(-30px) rotate(0deg); }
  40%{transform: translateY(-30px) rotate(1080deg); }
  70%{transform: translateY(-30px) rotate(0deg); }
  80%{transform: translateY(10px)}
  90%{transform: translateY(0px); }
}



