*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body{
  width: 100vw;
  height: 100vh;
}

.nav-container{
  width: 200px;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 16px 8px rgb(77, 77, 77);
  position: fixed;
  z-index: 100;
}

.nav-top{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px;
}

.profile_pic_container{
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.profile_pic_container img {
  width: 60%;
  height: 60%;
  border-radius: 50%;
}

.nav-bottom{
  height: 100px;
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}

.container{
  width: calc(100vw - 208px);
  height: 100vh;
  background: white;
  margin-left: 200px;
  padding: 24px 10%;
}

.container h1{
  position: absolute;
}

.dash-top{
  height: 40%;
  width: 100%;
  display: flex;
  padding: 16px 0;
}

.welcome-container{
  width: 50%;
  height: 100%;
  margin-right: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}


.recommendations{
  width: 50%;
  height: 100%;
  margin-left: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.rec-span{
  display: inline-block;
  width: 80px;
}

.dash-bottom{
  min-height: 60%;
  width: 100%;
  overflow-x: scroll;
  background: rgba(200, 200, 200, 0.75);
}

.table-header{
  width: auto;
  height: 100%;
  display: flex;
}

.column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0 8px;
  width: 100px;
  height: 40px;
  border-right: 1px solid white;
  border-bottom: 4px solid white;
  background: black;
  color: white;
  text-align: center
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100px;
  height: 40px;
  padding: 0 8px;
  border-right: 1px solid white;
  border-bottom: 4px solid white;
  background: black;
  color: white;
}

.date p {
  font-size: 12px;
}

.v {
  border-bottom: 4px solid orange
}

.m {
  border-bottom: 4px solid green;
}

.p {
  border: none;
  border-bottom: 4px solid white;
}

.s{
  width: 50px;
}

.column p {
  font-size: 12px;
}

.prof-top{
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.prof-image{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  width: 200px;
}

.prof-image img{
  height: 200px;
  width: auto;
  border-radius: 50%;
}

.prof-bottom{
  height: 60%;
  width: 100%;
  display: flex;
  padding: 16px 0;
}

.profile-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.profile-row{
  display: flex;
  justify-content: space-between;
}

.history-table{
  height: 90%;
  width: 100%;
  margin-top: 16px;
  overflow-x: scroll;
  background: rgba(200, 200, 200, 0.75);
}

.entry-section{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 16px 0;
}

.entry-section input{
  margin-right: 16px;
  margin-bottom: 16px;
  width: 200px;
  height: 30px;
  text-align: center
}

.date-input{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.search-top{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.search-top input{
  width: 40%;
  height: 35px;
  padding: 0 12px;
  border: none;
  text-align: left;
  border-bottom: 2px solid orange;
  outline: none;
}

.search-table{
  width: 100%;
  height: calc(100% - 50px);
}

.search-header{
  height: 30px;
  width: calc(100% - 8px);
  display: flex;
  margin-right: 8px;
}

.search-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-results{
  height: calc(100% - 50px);
  width: 100%;
  box-shadow: inset 0 0 4px 4px rgba(65, 65, 65, 0.5);
  overflow-y: scroll;
}

.search-result{
  height: 30px;
  width: 100%;
  display: flex;
}

.search-result:nth-child(2n+1){
  background: rgba(168, 168, 168, 0.5);
}

.search-column{
  width: 30%;
  height: 30px;
  border-right: 1px solid black;
  color: black;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f {
  width: 10%;
}

.h{
  background: black;
  color: white;
  border-bottom: 4px solid orange;
}

.r {
  width: 25%;
  border-bottom: 4px solid orange;
}

.auth-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box{
  width: 40vw;
  min-width: 400px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 16px 8px rgb(77, 77, 77);
  overflow: hidden;
  animation: fade-in 1s;
}


.logo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-top: -15%
}

.title{
  font-size: 40px;
  padding-left: 32px;
}

.login-inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40%;
}

.login-inputs input {
  width: 50%;
  height: 30px;
  margin: 8px 0;
  padding: 0 8px;
  border: none;
  border-bottom: 2px solid green;
  outline: none;
}

.name-input {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.name-input input {
  width: 49%;
  height: 30px;
  margin: 8px 0;
  padding: 0 8px;
  border: none;
  border-bottom: 2px solid green;
  outline: none;
}

.login-inputs select {
  width: 50%;
  height: 30px;
  border: none;
  border-bottom: 2px solid green;
}

.message{
  width: 60%;
}

.error-container{
  height: 30px;
  width: 50%;
}

.error{
  transition: all .5s ease;
  position: absolute;
  color: red;
  font-size: 14px;
  text-align: center;
  opacity: 1;
}

.hidden{
  opacity: 0;
}

.register-button {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.register-big{
  width: calc(100% + 100%);
  display: flex;
  opacity: 1;
  justify-content: flex-start;
  margin-top: -50%;
  transition: all .5s ease;
  transform: translateX(25%);
  animation: fade-in 1s;
}

.right{
  transform: translateX(-25%);
}

.fa-arrow-right{
  animation: point 1.5s infinite;
  transform: translateX(-10px);
}

a{
  text-decoration: none;
  margin-bottom: 8px;
  color: green;
  transition: .25s all ease;
  display: flex;
  justify-content: center;
}

a:nth-of-type(2n + 1){
  color: orange;
}

a:visited{
  color: green;
}

a:nth-of-type(2n + 1):visited{
  color: orange;
}

a:hover{
  letter-spacing: 3px;
}

button {
  width: 100px;
  height: 25px;
  border: none;
  background: orange;
  outline: none;
  cursor: pointer;
  transition: .25s all ease;
}

button:hover {
  width: 110px;
  height: 25px;
  border: none;
  background: rgba(255, 166, 0, 0.75);
  letter-spacing: 3px;
}

h2 {
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: 5px;
}

ul{
  list-style-position: inside;
}

select{
  margin: 8px 0;
}

#carrot_1{
  color: orange;
}

#carrot_2{
  color: green;
}

::-webkit-scrollbar {
  width: 8px;
  transition: 1s all ease;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 8px;;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes point {
  50%{transform: translateX(10px)}
}

@keyframes fade-in {
  0%{opacity: 0;}
  80%{opacity: 0;}
  100%{opacity: 1}
}